option_settings:
    aws:ec2:instances:
        InstanceTypes: t3.micro
    aws:elasticbeanstalk:environment:process:http:
        Port: '80'
        Protocol: HTTP
        HealthCheckPath: /health
    aws:elasticbeanstalk:environment:proxy:staticfiles:
        /static: static
        /uploads: uploads
    aws:elasticbeanstalk:application:environment:
        DJANGO_SETTINGS_MODULE: config.settings
        PYTHONPATH: /var/app/current:$PYTHONPATH